body {
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  padding: 1rem
}

h1{
  margin-left: 1rem;
}

.green-text{
  color: green;
}

.orange-text{
  color: orange
}

.grey-text{
  color: #262626;
}

.shopping-list{
  width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black
}